<div class="w-full bg-white mb-[4rem]">
    <div *ngIf="!cntctSucc" class="flex lg:flex-row flex-col justify-center items-center  lg:p-24 p-4">

        <div>
            <h1 class="lg:text-9xl text-5xl lg:w-100 font-inter text-center lg:pr-32 text-gray-700">Get In Touch</h1>
        </div>
        <div>

            <div class="flex flex-col justify-center">

                <form [formGroup]="registrationForm" action="" class="p-4 space-y-2">

                    <mat-form-field class=" w-full">
                        <mat-label>Name</mat-label>
                        <input class="w-full" #input placeholder="Your Full Name" matInput formControlName="cstrNm">
                        <mat-error class=" " *ngIf="registrationForm.get('cstrNm')?.hasError('required')">
                             Name is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class=" w-full">
                        <mat-label>Email Id</mat-label>
                        <input class="w-full" #input placeholder="Your Email ID" matInput formControlName="cstrEml">
                        <mat-error class=" " *ngIf="registrationForm.get('cstrEml')?.hasError('required')">
                            Email Id is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class=" w-full">
                        <mat-label>Contact Number</mat-label>
                        <input inputmode="numeric" type="number" minlength="10" maxlength="10" class="w-full" #input
                            placeholder="Your Phone Number" matInput formControlName="cstrPh">
                            <mat-error class=" " *ngIf="registrationForm.get('cstrPh')?.hasError('required')">
                                Contact Number is required!
                            </mat-error>
                    </mat-form-field>

                    <mat-form-field class=" w-full">
                        <mat-label>Comments</mat-label>
                        <textarea class="w-full" #input
                            placeholder="Write a comment about the purpose for contacting us?" matInput
                            formControlName="cstrCmnt">
                        </textarea>
                        <mat-error class=" " *ngIf="registrationForm.get('cstrCmnt')?.hasError('required')">
                            Comments is required!
                        </mat-error>
                    </mat-form-field>

                    <button (click)="contactUs()" class=" bg-black text-white" mat-raised-button
                        [disabled]="submitButtonDisable" color="primary">
                        Submit
                    </button>
                </form>

            </div>
        </div>
    </div>


    <!-- Confirmation Page -->
    <div *ngIf="cntctSucc" class="justify-center items-center mt-20 m-2">
        <div class=" bg-white flex-auto p-6 sm:p-6 w-fit mx-auto h-fit">
            <div class="flex flex-col bg-card ">
                <div class=" bg-white border-b ">
                    <div class="flex flex-row flex-wrap w-full px-2 py-2 items-center justify-between">
                        <div class="flex flex-col">
                            <div class="text-xl md:text-2xl font-bold  leading-7 sm:leading-10 ">
                                Confirmation
                            </div>
                            <div class="mb-1 -mt-1 text-sm">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center h-full mx-50 pb-50">
                    <div class="flex flex-col items-center justify-center mt-20">
                        <img src="../../../assets/sourceease/icon/confirm.png" style="width:150px" />
                        <p class="py-6 text-center text-3xl font-bold">Your request has been submitted successfully.
                        </p>
                        <p> One of our representative will contact you.</p>
                    </div>
                    <!-- <div class="mb-5 mt-30">
                        <p class="py-6 text-2xl text-center"> Go to the  <a href="http://122.180.240.197:5405/" class="text-2xl font-bold text-primary-500 hover:cursor-pointer hover:underline">Login Page</a></p>							
                    </div>   -->
                </div>
            </div>
        </div>
    </div>

</div>