<div class="w-full lg:px-10 px-6 bg-white">
    <div class="flex lg:flex-row flex-col justify-between items-center w-full mt-30">
        <!-- title text -->
        <p class="lg:text-8xl lg:block hidden w-[46rem]  text-3xl font-extrabold archivo-narrow  pl-0 text-gray-800">
            On-line Global Talent <br> Hiring Market <br> Place.
        </p>
        <p class="lg:text-8xl lg:hidden block w-[14rem] text-3xl font-extrabold archivo-narrow  pl-0 text-gray-800">
            On-line Global Talent Hiring Market Place.
        </p>

        <!-- 3 images -->
        <div class="lg:flex flex-row justify-evenly w-[50%] hidden">
            <div class="w-60">
                <img class="w-full" src="assets/sourceease/about-us/group1.png" alt="">
            </div>
            <div class="w-60">
                <img class="w-full mt-12" src="assets/sourceease/about-us/hapy.png" alt="">
            </div>
            <div class="w-60">
                <img class=" w-full mt-24" src="assets/sourceease/about-us/group.png" alt="">
            </div>
        </div>
        <div class="flex flex-row w-full justify-center mt-6 lg:hidden">
            <div class="">
                <img class="w-full px-2" src="assets\sourceease\about-us\about-us-top-sm-1.png" alt="">
            </div>
            <div class="">
                <img class="w-full px-2" src="assets\sourceease\about-us\about-us-top-sm-2.png" alt="">
            </div>
            <div class="">
                <img class=" w-full px-2" src="assets\sourceease\about-us\about-us-top-sm-3.png" alt="">
            </div>
        </div>
    </div>
    <div class="pt-14 text-2xl text-justify roboto-font">
        <p>

            UrJobMart is a marketplace, where we intend to bring buyers and suppliers to the same platform. This
            platform also allows organizations to completely outsource their Talent Acquisition process, including
            Interview and Assessment process to the platform. With certified Interviewers and very detailed and relevant
            assessment tools – our clients can be assured of a very thorough fitment assessment. With a combination of
            in-house (UrJobMart) and 3rd party recruiters, our clients can be assured of scaling their Talent
            Acquisition needs without having to worry about spike in the budget or finding new consultants to meet their
            demand – as the portal allows to scale up or down based on the need without any commitment.

        </p>
        <p class="pt-4 text-justify">
            It is a complete & comprehensive alternative to the way the industry is functioning today to onboard talent
            that can be customized to suit your style of functioning.
        </p>
    </div>
    <div class="flex gap-4 lg:flex-row flex-col bg-indigo-900 h-70  mt-8 boxRadius">
        <div class="basis-[58%] p-8 lg:order-1 order-2">
            <div class="text-white archivo-narrow  lg:text-4xl text-3xl font-bold">
                Goal to make the human capital acquisition a simple, predictable & a repeatable process.
            </div>
            <div
                class="text-white justify-between roboto-font  text-2xl flex items-center lg:text-justify lg:mt-4 mt-7">
                <p class="text-justify">The product was conceptualized by industry veterans with over 80+ years of combined industry
                    experience.
                    The roadmap over a period of next year or so is very ambitious. Not only do we intend to provide
                    simplification & transparency in the talent acquisition process but access to AI based tools for
                    prescriptive and predictive analytics and real-time dashboards.
                </p>
            </div>
        </div>
        <div class="basis-[42%] lg:order-2 order-1">
            <img class="lg:block hidden w-full" src="assets/sourceease/about-us/gpPpl.png" alt="">
            <img class="lg:hidden block w-full" src="assets/sourceease/about-us/mobgpPpl.png" alt="">
        </div>
    </div>
    <div class="h-4 lg:h-6 bg-black diffCornBrdr"></div>

    <div class="lg:mb-11">
        <p class="text-5xl archivo-narrow font-bold  text-left pt-6 lg:my-10 text-[#424242]">Our Leaders</p>
        <div class="flex lg:flex-row flex-col lg:mt-0 mt-8 gap-10">
            <div class="basis-full">
                <div class="flex lg:flex-row flex-col gap-5">
                    <div class="basis-[30%] font-semibold flex flex-col items-center">
                        <img class="lg:w-full lg:h-full w-[12rem] h-[12rem]  border-r-i" src="assets/sourceease/about-us/sid.png" alt="">
                        <p class="text-center mt-2 lg:text-3xl text-2xl text-[#525252]">Sidharth Malik(Sid)</p>
                        <p class="text-center lg:text-3xl text-2xl text-[#525252]">-CEO</p>
                    </div>
        
                    <div class="basis-[70%]">
                        <p class="text-2xl text-justify roboto-font text-[#525252]">
                            Sid has been an entrepreneur, Philanthropist and technology leader for over 20 years., usually all
                            at once. Sid ended his 7 years long corporate technology leader stint with Aon in 2011 and started
                            300 Plus, a talent acquisition organization with a vision to disrupt the market. It has been 10
                            years of identifying 360 degree challenges of this industry and evolving solutions around it. Sid is
                            the cofounder of UrjobMart. UrJobMart was created with the deep understanding of the clients and is
                            enriched with the experience gained running 300 Plus.
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- <hr class="lg:hidden"> -->
            <div class="basis-full lg:mt-0 mb-8 lg:mb-0 mt-5">
                <div class="flex lg:flex-row flex-col  gap-5">
                    <div class="basis-[30%] font-semibold flex flex-col items-center">
                        <img class="lg:w-full lg:h-full w-[12rem] h-[12rem] border-r-i" src="assets/sourceease/about-us/sandesh.png" alt="">
                        <p class="text-center mt-2 lg:text-3xl text-2xl text-[#525252]">Sandesh Jaikrishan</p>
                        <p class="text-center lg:text-3xl text-2xl text-[#525252]">-CIO</p>
                    </div>
        
                    <div class="basis-[70%]">
                        <p class="text-2xl text-justify roboto-font text-[#525252]">
                            Sandesh is a senior technology leader with huge experience in building, leading and driving teams to
                            architect, design, build and deploy products and solutions for BFSI, Corporate, HR and Health. He is
                            the cofounder, chief architect and design lead of UrJobMart. His ability to simplify complex
                            technology problems has lead to the evolution of UrJobMart. His skills in AI has led to development
                            of path breaking analytics which are complete new in the industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr class="lg:hidden"> -->

    </div>

    <!-- <div class="text-center lg:block hidden">
        <p class="text-3xl font-bold text-center pt-4 text-gray-800">Our Team</p>
        <div class="flex flex-row justify-evenly py-10">
            <div class="w-[180px] h-[180px] bg-gray-300 rounded-3xl"></div>
            <div class="w-[180px] h-[180px] bg-gray-300 rounded-3xl"></div>
            <div class="w-[180px] h-[180px] bg-gray-300 rounded-3xl"></div>
            <div class="w-[180px] h-[180px] bg-gray-300 rounded-3xl"></div>
            <div class="w-[180px] h-[180px] bg-gray-300 rounded-3xl"></div>
        </div>
    </div> -->

    <!-- <div class="text-center lg:hidden">
        <p class="text-3xl font-bold pt-4 text-gray-800">Our Team</p>
        <div class="flex flex-row justify-evenly py-10 scrolling-container">
            <div class="scrolling-content">
                <div class="bg-gray-300 rounded-3xl min-w-48 h-48 mx-2"></div>
                <div class="bg-gray-300 rounded-3xl min-w-48 h-48 mx-2"></div>
                <div class="bg-gray-300 rounded-3xl min-w-48 h-48 mx-2"></div>
                <div class="bg-gray-300 rounded-3xl min-w-48 h-48 mx-2"></div>
                <div class="bg-gray-300 rounded-3xl min-w-48 h-48 mx-2"></div>
            </div>
        </div>
    </div> -->

</div>