<div class="container bg-black text-white">
    <div class="">
        <div class="flex flex-col lg:flex-row lg:justify-around justify-center pb-10">
            <div>
                <div class="">
                    <div class="flex justify-center lg:justify-start">
                        <img class="w-72" src="../../../../../../../../assets/sourceease/home/logoDark.png" alt="" />
                    </div>
                    <div class="flex gap-3 lg:justify-center justify-evenly">
                        <!-- <img class="social-icon cursor-pointer" src="assets/sourceease/home/lnkdn.png" alt="">
                        <img class="social-icon cursor-pointer" src="assets/sourceease/home/fb.png" alt=""> -->
                        <!-- <img  class="social-icon-gmail" src="assets/sourceease/home/gmail.png" alt=""> -->
                        <a href="https://play.google.com/store/apps/details?id=com.urjobmart.mobiapp" target="_blank" class="cursor-pointer">
                            <img  class="" src="assets/sourceease/home/g-play.png"  alt="">
                        </a>
                        <a href="https://apps.apple.com/in/app/urjobmart/id6480441638" target="_blank" class="cursor-pointer">
                            <img  class="w-[8rem]" src="assets/sourceease/home/applee.png"  alt="">
                        </a>
                    </div>
                    <!-- <div class="mt-4">
                    </div> -->
                </div>
            </div>
            

            <div class="mt-9 flex  flex-col items-center">
                <p class="font-bold lg:my-0.5  hover:underline hover:cursor-pointe lg:mb-[4.5rem] roboto-font cursor-pointer" routerLink="/about-us">About us</p>
            </div>


            <div class="mt-9 flex  flex-col items-center">
                <p class="font-bold lg:my-0.5 roboto-font">Services</p>
                <div class="text-center">
                    <p class="hover:underline hover:cursor-pointer roboto-font"> <a href="https://www.urjobmart.com/" target="_blank">Recruiter Solutions</a> </p>
                    <p class="hover:underline hover:cursor-pointer roboto-font" routerLink="/it-staffing"> IT Delivery Solutions </p>
                </div>
            </div>

            <div class="mt-9 flex  flex-col items-center">
                <p class="font-bold  hover:underline hover:cursor-pointer roboto-font" routerLink="/contact-us">
                    Contact Us
                </p>
                <div class="roboto-font text-center">
                    <p class="m-0">Email:</p>
                    <p class="my-0.5 mt-0">info@sourceease.in</p>
                    <p class="m-0">Phone number:</p>
                    <p class="my-0.5 mt-0">+91-11-42902275</p>
                </div>
            </div>



            <div class="mt-9 flex  flex-col items-center">
                <p class="font-bold roboto-font">Address</p>
                <div class="roboto-font text-center">
                    <p routerLink="#" class="">E-523 1st Floor,</p>
                    <p routerLink="#" class="">Palam Extn, Sector-7,</p>
                    <p routerLink="#" class="">Dwarka, New Delhi – 110075</p>
                </div>
            </div>
        </div>
    </div>
</div>