/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto-font {
    font-family: Roboto !important;
}

.archivo-narrow {
    font-family: "Archivo Narrow", sans-serif !important;
    font-optical-sizing: auto !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// ===========  parallax =============

.parallax {
    position: relative;
    z-index: 0;
    animation: parallax linear;
    animation-timeline: scroll();
}

.parallax-main {
    --parallax-speed: -20;
}

.parallax-inner_container {
    --parallax-speed: -8;
}

@keyframes parallax {
    to {
        transform:
            translateY(calc(var(--parallax-speed) * 200px));
    }
}
